.cast{
    padding: 20px;
    margin: 10px;
    border: 10px solid black;
}
.stage {
    width: 1325px;
    height: 400px;
    padding: 20px;
    margin: 10px;
    border: 10px solid black;
}
.player {
    width: 350px;
    padding: 10px;
    margin: 5px;
    border: 5px solid silver;
}

.opponent {
    width: 350px;
    padding: 10px;
    margin: 5px;
    border: 5px solid red;
}

#yoda{
    background-image: url(../images/Yoda.jpg);
    background-repeat: no-repeat;
    padding: 20px;
    margin: 10px;
    border: 10px solid black;
    height: 183px;
    width: 250px;
    }

#quiGon{
    background-image: url(../images/Qui-\ gon.jpg);
    background-repeat: no-repeat;
    margin: 10px;
    border: 10px solid black;
    height: 183px;
    width: 250px;

}
#obiWan{
    background-image: url(../images/Obi-wan.jpg);
    background-repeat: no-repeat;
    padding: 20px;
    margin: 10px;
    border: 10px solid black;
    height: 183px;
    width: 250px;
    }

#emperorPalpatine{
    background-image: url(../images/Emperor\ Palpatine.jpg);
    background-repeat: no-repeat;
    margin: 10px;
    border: 10px solid black;
    height: 183px;
    width: 250px;

}
#darthVader{
    background-image: url(../images/Darth\ Vader.jpg);
    background-repeat: no-repeat;
    padding: 20px;
    margin: 10px;
    border: 10px solid black;
    height: 183px;
    width: 250px;
    }

#kyloRen{
    background-image: url(../images/Kylo-Ren.jpg);
    background-repeat: no-repeat;
    margin: 10px;
    border: 10px solid black;
    height: 183px;
    width: 250px;

}